*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
}
canvas
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(12,12,12);
    z-index: -1;
}
.red
{
    color: #b11313!important;
    fill: #b11313!important;
}
.red-bg
{
    background-color: #b11313!important;
}
.center
{
    margin: 0 auto!important;
}
.center-txt
{
    text-align: center!important;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn:hover
{
    cursor: pointer;
    fill: #fff!important;
    transform: scale(1.1);
    transition: .3s;
}

div#logo
{
    position: relative;
    height: 10vh;
    width: 100vw;
}
div#logo > span
{
    position: absolute;
    top: 50%;
    left: 50%;
}
div#logo > span#first
{
    text-transform: lowercase;
    transform: translate(-100%, -90%);
    font-weight: 100;
}
div#logo > span#last
{
    text-transform: uppercase;
    transform: translate(-30%, -10%);
    font-weight: 900;
}

main
{
    position: relative;
    height: 80vh;
    width: 60vw;
    padding: 20px 0 0 0;
}
main > h2
{
    font-size: 2.3rem;
    text-transform: uppercase;
    transform: translateY(-100%);
}
main > div > h1
{
    font-size: 1rem;
    font-weight: 100;
    /* transform: translateY(-100%); */
}
main > div > div.cv
{
    position: fixed;
    left: 50%;
    top: 60%;
}
social
{
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
}
social > div
{
    transition: .3s;
}
social > div.social
{
    position: fixed;
    left: 10vw;
}
social > div.copyright
{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3vh;
    right: 10vw;
}
social > div.copyright > svg
{
    margin-right: 10px;
}
social > div.copyright > p > span::before
{
    content: " - ";
}


